header{
	background:#1A0043;
	color:#fff;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: : 1%;
	}

nav div{
	margin-left: 1%;
	margin-right: 1%;	
}

.main{
	background:#FAFAFA;
	margin: auto;
	}

.color1{
	background:#34495e;
	color:#fff;
	}

aside {
	background:#C73403;
	color:#fff;
	}

section{
	border: 1px solid #bfd8eb;
	margin: auto;
}

section article div div{
	background:#04B404;
}

footer {
	background:#1A0043;
	color:#fff;
	margin-left: 1%;
	margin-right: 1%;
}

label {
		margin-top: 2%;
}

.ibody {
	background-color: #F2F2F2;
	border: 1px solid #8A0808;
	border: 1% solid;
	border-radius: 8px;
	width: 80%;
	margin: auto;
	-webkit-border-radius: 8%x;
	-moz-border-radius: 8%;
}

.ibody1 {
	background-color: #F2F2F2;
	border: 1px solid #8A0808;
	border-radius: 7px;
	width: 80%;
	margin: auto;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

hr {
	border: 2px solid #8A0808;	
}

.jumbotron{
	background-color: #8A0808;
	border-radius: 4% 4% 0% 0%;
	margin: auto;
	height:20%;
	-webkit- border-radius: 4% 4% 0% 0%;
	-moz-border-radius: 4% 4% 0% 0%;
}

.jumbotron h4{
	color: #fff;
	font-size: 200%;
	text-align: center;
	text-shadow: 0% 1% #77a5c7;
}

.jumbotron h3{
	color: #fff;
	font-size: 100%;
}

.fcinema {
	padding: 1%;
	border-color: #F5F5F5;
}

.fclub {
	padding: 1%;
	border-color: #F5F5F5;
}

.boton {
	padding: 1%;
}

.table{
	margin: 1%, 1%, 1%, 1%;
}

